<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/images/logo_web.jpg" type="image/jpg" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="robots" content="noindex, follow" />
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      <%- include("partials/sidebar") %>

      <div id="content" class="p-4 p-md-5">
        <%- include("partials/navbar") %>

        <!-- Chi tiết thông báo  -->
        <%- include("partials/header") %>

        <div class="demuc">
          <p><%= products.name %></p>
        </div>
        
        <h4><%= products.content %></h4>
		    <a href=""><%= products.topic %></a>
        <div class="author">
          <p><%= products.created %></p>
          <p><%= products.department %></p>
        </div>
      </div>
    </div>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
