<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/images/logo_web.jpg" type="image/jpg" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="robots" content="noindex, follow" />
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      <%- include("partials/mod_sidebar") %>

      <div id="content" class="p-4 p-md-5">
        <%- include("partials/mod_navbar") %>

        <!-- Thông báo  -->
        <%- include("partials/mod_header") %>

        <div class="list-group">
          <form>
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-5"></div>
              <div class="col-sm-2"></div>
              <div class="col-sm-1"></div>
              <div class="col-sm-1">
                <a
                  href="/mod/thongbao/themthongbao"
                  class="btn btn-info float-right"
                  >Tạo Mới</a
                >
              </div>
            </div>
          </form>

          <!--Phân trang tin-->
          <div class="pagination">
            <% for (var i = 0; i < pages; i++) { %>
              <a href="/mod/thongbao/<%= i+1%>"><%= i+1%></a>
            <% } %>
          </div>

          <!--Bảng tin-->
          <table class="newsfeeds">
            <% for (var i = 0; i < products.length; i++) { %>
            <tr>
              <th><p><%= products[i].name %></p></th>
              <th>
                <a
                  href="/mod/thongbao/chitiet/<%= products[i]._id %>"
                  class="float-right"
                  >Chi tiết</a
                >
              </th>
              <th>
                <a
                  href="/mod/thongbao/suathongbao/<%= products[i]._id %>"
                  class="float-right"
                  >Sửa đổi</a
                >
              </th>
              <th>
                <a
                  href="/mod/news/<%= products[i]._id %>/delete"
                  class="float-right""
                  >Xóa</a
                >
              </th>
            </tr>
            <% } %>
          </table>
        </div>
      </div>
    </div>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
