<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/images/logo_web.jpg" type="image/jpg" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="robots" content="noindex, follow" />
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      <%- include("partials/mod_sidebar") %>

      <div id="content" class="p-4 p-md-5">
        <%- include("partials/mod_navbar") %>

        <!-- Page Content  -->
        <%- include("partials/mod_header") %>

        <div class="row">
          <!-- Chủ đề  -->
          <% for (var i = 0; i < products.length; i++) { %>
          <div class="column-sm-4">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <a href="/mod/thongbao/<%= products[i].name %>"
                    ><img src="/images/<%= products[i].cover %>" alt="Avatar" />
                  </a>
                </div>
                <div class="flip-card-back">
                  <a href="/mod/thongbao/<%= products[i].name %>">
                    <h1><%= products[i].name %></h1>
                    <p><%= products[i].content %></p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
